<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset ="utf-8">
    <title>Cats</title>
  </head>
  <body>
    <header>All About Cats</header>
    <nav>
      <a href = "/">Homepage</a>
      <a href = "/dogs">Dogs</a>
      <a href = "/cats">Cats</a>
      <a href = "/ninjas">Ninjas</a>
      <a href = "/pirates">Pirates</a>
    </nav>
    <h2>Pictures of Cats</h2>
    <img src = "http://kittentoob.com/wp-content/uploads/sites/4/2012/04/kitten-pics25.jpg">
    <img src = "http://media3.s-nbcnews.com/j/streams%5C2012/October/121011%5C1C4244539-tdy-121011-catdog-03.blocks_desktop_large.jpg">
    <img src = "https://c2.staticflickr.com/4/3518/3253623862_d8ff244c61.jpg">
    <img src = "/images/cutecat.jpg">
    <iframe width="560" height="315" src="//www.youtube.com/embed/8-24M3tdxe8" frameborder="0" allowfullscreen></iframe>
    <footer>
      <small>(c)Cats</small>
    </footer>
  </body>
</html>

