<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset ="utf-8">
    <title>Dogs</title>
  </head>
  <body>
    <header>All About Dogs</header>
    <nav>
      <a href = "/">Homepage</a>
      <a href = "/dogs">Dogs</a>
      <a href = "/cats">Cats</a>
      <a href = "/ninjas">Ninjas</a>
      <a href = "/pirates">Pirates</a>
    </nav>
    <h2>Pictures of Black Puggles</h2>
    <img src = "http://cdn-www.dailypuppy.com/dog-images/blaze-the-puggle-6_63807_2012-01-08_w450.jpg">
    <img src = "http://cdn-www.dailypuppy.com/dog-images/blaze-the-puggle-1_63807_2012-01-08_w450.jpg">
    <img src = "http://cdn-www.dailypuppy.com/dog-images/blaze-the-puggle_63807_2012-01-08_w450.jpg">
    <iframe width="560" height="315" src="//www.youtube.com/embed/9d3sE8Hphc8" frameborder="0" allowfullscreen></iframe>
    <footer>
      <small>(c)Dogs</small>
    </footer>
  </body>
</html>

