<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset ="utf-8">
    <title>HTML/CSS Introduction</title>
  </head>
  <body>
    <header>My header</header>
    <nav>
      <a href = "/">Homepage</a>
      <a href = "/dogs">Dogs</a>
      <a href = "/cats">Cats</a>
      <a href = "/ninjas">Ninjas</a>
      <a href = "/pirates">Pirates</a>
    </nav>
    <h1>My header</h1>
    <article>
      <h2>Toy Story</h2>
      <p>Toy Story is a really funny movie!</p>
      <img src = "http://img3.wikia.nocookie.net/__cb20091228211332/pixar/images/thumb/f/f3/Toy-Story-2-pixar-116966_1024_768-1-.jpg/640px-Toy-Story-2-pixar-116966_1024_768-1-.jpg">
      <a href = "http://toystory.disney.com/">Click to go to Toy Story site </a>
      <iframe width="420" height="315" src="//www.youtube.com/embed/KYz2wyBy3kc" frameborder="0" allowfullscreen></iframe>
      <h2>Article header</h2>
      <p>this is my paragraph</p>
    </article>
    <footer>
      <small>(c)2014 <strong>NSS<em>Cohort</em>6</strong></small>
    </footer>
  </body>
</html>

