<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset ="utf-8">
    <title>Ninjas</title>
  </head>
  <body>
    <header>All About Ninjas</header>
    <nav>
      <a href = "/">Homepage</a>
      <a href = "/dogs">Dogs</a>
      <a href = "/cats">Cats</a>
      <a href = "/ninjas">Ninjas</a>
      <a href = "/pirates">Pirates</a>
    </nav>
    <h2>Pictures of Ninjas</h2>
    <img src = "/images/pugninja.jpg">
    <img src = "/images/pugburglar.jpg">
    <img src = "/images/samuraipug.jpg">
    <footer>
      <small>(c)Ninjas</small>
    </footer>
  </body>
</html>
