<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset ="utf-8">
    <title>Pirates</title>
    <link rel = "stylesheet" href = "/css/style.css">
  </head>
  <body>
    <h1>Pirates</h1>
    <nav>
      <a href = "/">Homepage</a>
      <a href = "/dogs">Dogs</a>
      <a href = "/cats">Cats</a>
      <a href = "/ninjas">Ninjas</a>
      <a href = "/pirates">Pirates</a>
    </nav>
    <div class = "super">1</div>
    <div class = "super">2</div>
    <div class = "super">3</div>
    <div id = "awesome">4</div>

  </body>
</html>
